{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
	{% include 'header.html'%}
  <body>
  	
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    	<div class="col-md-2 offset-md-5">
		  <a class="navbar-brand" href="#" style="font-size:1.5em;">Personality Test</a>
		</div>
</nav>

<main role="main" class="container">
  <div class="jumbotron">
    <h1>What is Myers-Briggs Personality Type?</h1>
    <p class="lead">Myers-Briggs theory is an adaptation of the theory of psychological types produced by Carl Gustav Jung. It is based on 16 personality types, which Jung viewed as stereotypes (Jung 1921, p. 405). They act as useful reference points to understand your unique personality. At the heart of Myers Briggs theory are four preferences: people and things (Extraversion or "E"), or ideas and information (Introversion or "I"); facts and reality (Sensing or "S"), or possibilities and potential (Intuition or "N"); logic and truth (Thinking or "T"), or values and relationships (Feeling or "F"); a lifestyle that is well-structured (Judgment or "J"), or one that goes with the flow (Perception or "P").</p><hr>
    <h1>How it works?</h1>
    <p class="lead">You have 2 options. Type in text into a box and we will give a rating in each of the 4 categories. You could type in a twitter handle and the last 50 tweets associated with that handle will be used to calculate a rating in each of the 4 categories.</p>
  </div>

	<div id="wrapper">
	  <div id="left" style="text-align:center; color:white; font-size:1.8em;">Text Field</div>
	  <div id="right" style="text-align:center; color:white; font-size:1.8em;">Twitter Handle</div>
	</div>


	    <form method="POST" id="textBox" action="">{% csrf_token %}
        <p style="font-size:1.5em;"></p>{{textInputField|crispy}}
        <button class="btn btn-md btn-primary btn-block" href="/docs/4.3/components/navbar/" role="button">Submit</button>
        </form><br>

        <form method="POST" id="twitterBox" action="">{% csrf_token %}
        <p style="font-size:1.5em;"></p>{{twitterHandleField|crispy}}
        <button class="btn btn-md btn-primary btn-block" href="/docs/4.3/components/navbar/" role="button">Submit</button>
        </form>


</main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"><hr></span>
      </div>
    </footer>
{% include 'javascript.html' %}

</html>
